*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: bisque;
    display: flex;
    justify-content: center;
}
header{
    margin-top: 10px;
    text-align:center;
}
.calculatorContainer{
    margin-top: 50px;
    border: 3px solid;
}
.resultDisplay, #digitDisplay, #operatorDisplay{
    margin: 10px;
    padding: 10px;
    border: 3px solid;
    background-color: lightgrey;
    border-radius: 5px;
}
.primaryDisplay, .secondaryDisplay{
    display: flex;
}
.secondaryDisplay{
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    border: 3px solid;
    background-color: lightgrey;
    border-radius: 5px;
}
.resultDisplay{
    display: flex;
    justify-content: end;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Lucida Sans',sans-serif;
}
.inputDisplay{
    border: 3px solid;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}
#operatorDisplay{
    display: grid;
    grid-gap: 1px;
}
#digitDisplay{
    display: grid;
    grid-gap: 1em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}
#digits {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
  }
.grid-item, button {
    background-color: lightgrey;
    padding: 1em;
    border: 2px solid #ddd;
    text-align: center;
    font-family: Times,serif;
    cursor: pointer;
}